native/target
native/index.node
native/artifacts.json
**/*~
**/node_modules
**/.DS_Store

yarn.lock
package-lock.json
*.log

# Ignore compiled javascript files
!lib/index.js
!lib/index.d.ts
lib/*.js
lib/*.ts